* {
    font-family: 'Barlow', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#body {
    background: #232323;

}

.header {

    position: fixed;
    width: 100vw;
    height: 154px;
    background: black;
}

@media screen and (max-width: 768px) {
    .header {
        width: 100%;
    }
}

@media screen and (max-width: 1660px) {
    .header {
        width: 100%;
    }
}





#logo {

    position: absolute;
    width: 300px;
    height: 118px;
    left: 108px;
    top: 21px;

}

.links {

    color: rgb(255, 255, 255);
    font-size: 24px;
    line-height: 150px;
    cursor: pointer;
    text-decoration: none;
    margin-left: 15px;
}

@media screen and (max-width: 425px) {
    .links {
        font-size: 35px;
        margin-left: 20px;

    }
}

.link2 {
    margin-left: 1000px;
}

@media screen and (max-width: 425px) {
    .link2 {

        margin-left: 750px;

    }
}


.container {
    width: 100vw;
    height: 100vh;
}

@media screen and (max-width: 768px) {
    .container {
        width: 250vw;
    }
}


@media screen and (max-width: 425px) {
    .container {
        width: 380vw;

    }
}



.Home {
    display: inline-block;
    width: 45%;
}

@media screen and (max-width: 425px) {
    .Home {
        width: 200vw;

    }
}


#img-dev {
    display: inline-block;
    width: 20%;
    margin-top: 250px;
    margin-left: 220px;
}

@media screen and (max-width: 425px) {
    #img-dev {
        margin-left: 110px;

    }
}

#ola {
    margin: 0px 1046px;
    margin-bottom: 0px;
    margin-left: 110px;
    font-weight: 700;
    font-size: 67.2361px;
    line-height: 81px;
    color: white;
    padding: 0px;
    width: 289px;
}

#gustavo {
    margin-left: 105px;
    font-weight: 700;
    font-size: 92.9684px;
    line-height: 100px;
    color: #00A3FF;

}




#desenvolvedor {
    color: white;
    font-size: 48px;
    margin-left: 110px;
    margin-bottom: 50px;
}

#button {
    font-size: 20pt;
    font-weight: 700;
    text-decoration: none;
    padding: 14px 25px;
    border-radius: 8px;
    background-color: #1E90FF;
    color: #fff;
    margin-left: 105px;
    cursor: pointer;
    transition: .5s;
}

#button:hover {
    background-color: rgb(23, 125, 255);
}

@media screen and (max-width: 768px) {
    #sobre-eu-sessao {
        width: 240vw;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

}


@media screen and (max-width: 425px) {
    #sobre-eu-sessao {
        width: 380vw;
        text-align: center;
        margin-left: auto;
        margin-right: auto;

    }
}

#sobre-eu {
    color: white;
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 53px;
    text-align: center;
}

#sobre-eu-bio {
    color: white;
    text-align: center;
    font-size: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

#habilidades {
    font-size: 53px;
    color: white;
    margin-top: 180px;
    margin-bottom: 26px;
    text-align: center;

}

#conjunto-nome {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
}

#nome-habilidades {
    width: 335px;
    color: white;
    font-size: 30px;
    margin-left: 230px;
    text-align: center;
}

@media screen and (max-width: 425px) {
    #nome-habilidades {
        margin-left: 150px;
    margin-right: 80px;
    

    }
}

@media screen and (max-width: 768px) {
    #habilidades {
        width: 240vw;

    }
}

@media screen and (max-width: 425px) {
    #habilidades {
        width: 380vw;

    }
}




@media screen and (max-width: 768px) {
    #conjunto-nome {
        width: 250vw;

    }
}

@media screen and (max-width: 425px) {
    #conjunto-nome {
        width: 390vw;

    }
}


#image-html {
    width: 150px;
    margin-left: 195px;
}

@media screen and (max-width: 425px) {
    #image-html {
        margin-left: 100px;

    }
}

.image-habilidades {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
}


@media screen and (max-width: 768px) {
    .image-habilidades {
width: 250vw;
    }
}


@media screen and (max-width: 425px) {
    .image-habilidades {
        width: 1656px;

    }
}

#image-css {
    width: 165px;
    margin-left: 150px;
}

#image-js {
    width: 150px;
    margin-left: 185px;
}

#image-git {
    width: 150px;
    margin-left: 190px;
}

#image-github {

    width: 150px;
    margin-left: 160px;
}

#nome-projetos {
    font-size: 75px;
    color: white;
    margin-top: 100px;
    margin-bottom: 26px;
    text-align: center;
}




#image-yoga {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}



@media screen and (max-width: 768px) {
    #div-projetos {
        width: 250vw;
    }

}

@media screen and (max-width: 425px) {
    #div-projetos {
        width: 380vw;
    }

}




#nome-yoga {
    font-size: 53px;
    color: #00A3FF;
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: center;
}

#sobre-yoga {
    color: white;

    text-align: center;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 25px;
    font-size: 30px;
}

@media screen and (max-width: 425px) {
    #sobre-yoga {
        width: 350vw;
        margin-left: 90px;
        text-align: center;
    }

}


.button-detalhes {
    font-size: 15pt;
    font-weight: 700;
    text-decoration: none;
    padding: 14px 25px;
    border-radius: 8px;
    background-color: #1E90FF;
    color: #fff;
    cursor: pointer;
    transition: .5s;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 200px;
    text-align: center;

}

.button-detalhes:hover {
    background-color: rgb(23, 125, 255);

}


#image-portfolio {
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 45px;

}

#nome-portifolio {
    font-size: 53px;
    color: #00A3FF;
    margin-top: 30px;
    margin-bottom: px;
    text-align: center;
}

#sobre-portifolio {
    color: white;

    text-align: center;
    margin-left: 250px;
    font-size: 30px;
    margin-bottom: 25px;
}

@media screen and (max-width: 425px) {
    #sobre-portifolio {
        width: 350vw;
        margin-left: 90px;
        text-align: center;
    }
}

#footer {
    width: 100vw;
    height: 154px;
    background: black;
    position: relative;
}

@media screen and (max-width: 768px) {
    #footer {
        width: 250vw;
    }
}

@media screen and (max-width: 425px) {
    #footer {
        width: 390vw;
    }
}



#email-footer {
    color: white;
    font-size: 26px;
    margin-left: 115px;
}

#icon-linkedin {
    width: 60px;
    margin-left: 115px;
}

#icon-github {
    width: 60px;
    margin-left: 10px;
    margin-top: 15px;
}